<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AmazonS3ExplorerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <aws region="us-east-1" profileName="default">
    <logging logTo="Log4Net"/>
  </aws>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AmazonS3ExplorerWPF.Properties.Settings>
            <setting name="LastProfileUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUseProfile" serializeAs="String">
                <value>False</value>
            </setting>
        </AmazonS3ExplorerWPF.Properties.Settings>
    </userSettings>
</configuration>